<!doctype html>
<script>
  function checkForm(form) {
    var afterText = document.getElementById("afterText");

    if (form.file.files.length > 0) {
      form.submitBtn.disabled= true;
      form.submitBtn.value = "עורך את הסרטון, חכה בבקשה :)"
      afterText.innerText = "עורך את הסרטון, רענן את הדף בשביל סרטון נוסף אחרי ההורדה"
      afterText.hidden = false;
      return true;
    }
    else {
      afterText.innerText = "אנא בחר סרטון לעריכה"
      afterText.hidden = false;
      return false;
    }
  }
</script>
<style>
  body {
    display: grid;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
}

</style>
<html>
  <head>
    <title>Edit video</title>
  </head>
  <body>
  <h1>עורך הסרטונים שלנו :)</h1>
  <form method="POST" action="" enctype="multipart/form-data" id="edits" onsubmit="return checkForm(this)">
    <p><input type="file" name="file"></p>
    <label>
      <select name="topic" form="edits">
        <option value="102, 153, 255">שלישות</option>
        <option value="218, 112, 214">תש</option>
        <option value="255, 0, 0">רפואה</option>
        <option value="211, 211, 211">חינוך</option>
        <option value="0, 0, 255">עתודאים</option>
        <option></option>
      </select>
    </label>
    <p><input type="submit" value="ערוך !" name="submitBtn"></p>
    <div id="afterText" hidden="true">רענן את הדף בשביל סרטון נוסף אחרי ההורדה</div>
  </form>
  </body>
</html>
