<!doctype html>
<script>
  function checkForm(form) {
    form.submitBtn.disabled= true;
    form.submitBtn.value = "Generating video please wait :)"
    return true;
  }
</script>
<html>
  <head>
    <title>File Upload</title>
  </head>
  <body>
  <h1>File Upload</h1>
  <form method="POST" action="" enctype="multipart/form-data" id="edits" onsubmit="return checkForm(this)">
    <p><input type="file" name="file"></p>
    <label>
      <select name="topic" form="edits">
        <option value="102, 153, 255">שלישות</option>
        <option value="218, 112, 214">תש</option>
        <option value="255, 0, 0">רפואה</option>
        <option value="211, 211, 211">חינוך</option>
        <option value="0, 0, 255">עתודאים</option>
        <option></option>
      </select>
    </label>
    <p><input type="submit" value="Submit" name="submitBtn"></p>
  </form>
  </body>
</html>
